html, body, #game {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#game {
  width: 600px;
  height: 400px;
  border: 1px solid black;
}

@font-face {
  font-family: "Atari Classic";
  src: url("assets/font/AtariClassic-Regular.ttf") format("truetype");
}